<% if (title) { %>
    <h1 class="login"><%= title %></h1>
<% } else {
      res.redirect('/')
} %>

<!-- The message block -->
<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<form id="newClassificationForm" action="/inv/newClassification" method="post">
    <label>
        <span>Classifications must not contain any spaces or special characters</span>
        <input type="text" name="classification_name" id="classification" required pattern="^(?=.*[a-zA-Z0-9])(?!.*\s)(?!.*[^a-zA-Z0-9]).{1,}$">
    </label>
    <input type="submit" name="submit" id="newClassification">
</form>