<!-- Creating the heading using the title already provided when the page is loaded -->
<% if (title) { %>
    <h1 class="login"><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- The message block -->
<%- messages() %>

<div class="management">
  <a href="/inv/newClassification">Add New Classification</a>
  <a href="/inv/newInventory">Add New Inventory</a>
</div>

<h2>Manage The Inventory</h2>
<p>Please select a classification from the list to see the items that belong to the classification.</p>
<%- classificationSelect %>

<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>